<div class="modal fade" id="newProjectModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add new project</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: projects_path, method: :post do |f| %>
          <div class="mb-3">
            <%= f.text_field :project_name, class: "form-floating form-control", placeholder: "Full project path" %>
          </div>
          <div class="mb-4">
            <%= f.password_field :access_token, class: "form-floating form-control", placeholder: "Access token: (optional)" %>
          </div>
          <div class="d-flex">
            <div class="ms-auto">
              <button type="button" class="btn btn-outline-secondary me-1" data-bs-dismiss="modal">Cancel</button>
              <%= f.submit "Add", id: :add_project, class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
